/* 去除空白行 
    ^\s*(?=\r?$)\n
*/
body{
    /* height: 8000px; */
    font-size: 14px;
    color:#333; 
    cursor: default;
    overflow-x: hidden;
}
/* 版心 */
.widthAll{
    width: 100%;
}
.wrapper{
    width:1200px;
    margin:0 auto;
}
/* 设置浮动 */
.fl{
    float: left;
}
.fr{
    float:right;
}
/* 清除浮动 */
.clearfix::after{
    content:"";
    display: block;
    overflow: hidden;
    clear: both;
    height:0;
}
/* 定位 */
.pAbs{
    position: absolute;
}
.pRel{
    position: relative;
}
.right10{
    right: 10px;
}
/* 背景颜色 */
.bgwhite{
    background-color:  #fff;
  }
.bggray{
      background-color: #ccc;
  }
.bglgray{
    background-color: #f2f2f2;
}
.bgdgray{
    background-color: #b3b3b3;
}
.bgblack{
    background: #101010;
}
.bgyellow{
    background: #ff6600;
}
.bggreen{
    background-color: #93d46f;
}
.bgred{
    background-color: #ff3025;
}
/* 字体样式 */
.fnormal{
    font-weight: normal;
}
/* 1.字体颜色 */
.fwhite{
    color:#fff;
}
.fblack{
    color:#252525;
}
.flblack{
    color:#333;
}
.fmgray{
    color:#4d4d4d
}
.fdgray{
    color: #808080;
}
.fgray{
    color:#9f9f9f;
}
.flgray{
    color:#a8a8a8;
}
.fred{
    color:#f4290d;
}
.fyellow{
    color:#ff6600;
}
/* 2.字体大小 */
.font12{
    font-size:12px;
}
.font14{
    font-size:14px;
}
.font16{
    font-size:16px;
}
.font18{
    font-size:18px;
}
.font20{
    font-size:20px;
}
.font22{
    font-size:22px;
}
.font24{
    font-size:24px;
}
.font28{
    font-size:28px;
}
.font30{
    font-size:30px;
}
/* 文本样式 */
.tleft{
    text-align: left;
}
.tcenter{
    text-align: center;
}
.tright{
    text-align: right;
}
/* 文本行高 */
.lh24{
    line-height: 24px;
}
/* 文本缩进 */
.texti6{
    text-indent: 6px;
}
/* 外边距 */
/* 四个方向 */
.mauto{
    margin:0 auto;
}
.mo{
    margin: 0;
}
.m1{
    margin: 1px;
}
/* 上下方向 */
.mtb5{
    margin: 5px 0;
}
.mtb6{
    margin: 6px 0;
}
.mtb10{
    margin: 10px 0;
}
/* 上方向 */
.mt12{
    margin-top: 12px;
}
.mt20{
    margin-top: 20px;
}
.mt44{
    margin-top: 44px;
}
.mt25{
    margin-top: 25px;
}
.mt28{
    margin-top: 28px;
}
/* 下方向 */
.mb0{
    margin-bottom: 0;
}
/* 右方向 */
.mr4{
    margin-right: 4px;
}
.mr10{
    margin-right: 10px;
 }
.mr50{
     margin-right: 500px;
 }
 /* 内边距 */
 .pt5{
     padding-top: 5px;
 }
 .pt10{
    padding-top: 10px;
 }
 .ptb22{
     padding: 22px 0;
 }
 .ptb42{
    padding: 42px 0 !important;
}
/* 边框样式 */
.bd1yellow{
    border:1px solid #ff6600;
}
.bd2yellow{
    border:2px solid #ff6600;
}
.bd1gray{
    border:2px solid #ccc;
}
.bd1trans{
    border:1px solid transparent;
}
/* 鼠标样式 */
.curpionter{
    cursor: pointer;
}
.inline-blk{
    display: inline-block;
}
.h40{
    height: 40px;
}
.pt20{
    padding-top: 20px;
}
.hide{
    display: none;
}
/* --------------------------------------------------------------------- */
/* 模板部分 */
/* 模块标题 */
.title{
    line-height: 34px;
    border-bottom: 6px solid #ff6600;
}
/* 轮播 */
/* 盒子属性 */
.pb-carouselWarp {
    position: relative;  
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;  
}
/* 图片属性 */
.pb-carouselWarp .pb-carousel {
  position: relative;  
}
.pb-carouselWarp .pb-carousel li {
  display: none;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  text-indent:0 !important;
  top: 0;
  left: 0;
}
.pb-carouselWarp .pb-carousel li img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.pb-carouselWarp .pb-carousel .pb-this {
  display: block;
  left: 0;
}
/* 滚动条 */
.pb-carouselWarp .pb-carousel-ind {
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
}
.pb-carouselWarp .pb-carousel-ind li{
    float: left;
    color:#fff;
    background-color: #d8d8d8;
    cursor: pointer;
}
.pb-carouselWarp .pb-carousel-ind li.pb-this{
    background-color: #7f7f7f ;
  }
/* 切换按钮 */
.pb-carouselWarp .pb-arrow {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    background: #000;
    cursor: pointer;
    border: none;
    /* 左右按钮宽高 */
    width: 36px;
    height: 70px;
  }
  .pb-carouselWarp .pb-arrow-prev {
    left:0;
    background: #000000 url(../img/arrow-left.png) no-repeat center;
    opacity: 0.4;
  }
  .pb-carouselWarp .pb-arrow-next {
    right:0;
    background: #000000 url(../img/arrow-right.png) no-repeat center;
    opacity: 0.4;
  }
  /* .pb-carouselWarp[type='updown'] .pb-carousel-ind {
    position: absolute;
    width: 15px;
    top: 50%;
    left: auto;
    bottom: auto;
    right: 20px;
    transform: translateY(-50%);
  }
  .pb-carouselWarp[type='updown'] .pb-carousel-ind li {
    float: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 5px 0;
  } */
  /* .pb-carouselWarp[type='updown'] .pb-carousel-ind .pb-this {
    background-color: #000;
  }
  .pb-carouselWarp[type='updown'] .pb-arrow {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -20px;
    margin-top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  .pb-carouselWarp[type='updown'] .pb-arrow-prev {
    top: 20px;
    background: #000000 url(../img/arrow-top.png) no-repeat center;
  }
  .pb-carouselWarp[type='updown'] .pb-arrow-next {
    top: auto;
    bottom: 20px;
    background: #000000 url(../img/arrow-bottom.png) no-repeat center;
  } */
/* Tab菜单 */
.tabMenu li{
    float:left;
    line-height: 35px;
    width: 98px;
    color:#333;
}
.tabMenu li.currentTab{
    color:#fff;
    background: #ff6600;
}
/* tab盒子 */
.content .tab{
    display: none;
}
.content .currentCont{
    display: block;
}
/* 左侧栏 */
.sideList{
    width: 238px;
    background: #f9f9f9;
}
 .sideList li{
     float:left;
     width:79px;
     line-height: 38px;
}
.sideList li a{
    color:#333;
}
/* 宽度 */
.wid98{
    width: 98px;
}
.h100{
    height: 100%;
}
/* 鼠标样式 */
.cur-pionter{
    cursor: pointer;
}
/* 二维码 */
.sideqCode{
    width: 139px;
    height: 180px;
    position: absolute;
    right:-100px;
    top:420px;
}
.sideqCode .act{
    position: relative;
    width: 39px;
    z-index: 3;
}
.sideqCode .qCode{
    position: absolute;
    width: 100px;
    height: 100%;
    line-height: 180px;
    z-index: 2;
}
/* topBarmenu */
.topBarmenu{
    padding:4px 0 20px; 
    position: fixed;
    height:24px;
    width: 100%;
    top:0;
    background: rgba(255, 101, 1, 0.9);
    z-index: 4;
}
.topBarmenu .logo{
    height: 42px;
}
/* 搜索栏 */
.inbox{
    width: 676px;
}
 .inbox input{
    float:left;
}
 .search-content{
    width: 386px;
    height: 32px;
}
 .search-btn{
    width: 44px;
    height:36px;
    background: #ff6600 url(../img/bgicon.png) no-repeat -5px -2px;
}
 .shopping-box input{
    width: 100px;
    height: 36px;
    cursor: pointer;
}
 .shopping-box .shop-car{
    color: #808080;
    text-indent:30px;
    background:url(../img/bgicon.png) no-repeat 0px -44px;
}
 .shopping-box .order,.shopping-box .shop-car{
    background-color: #ebebeb;
}
.shopping-box .shop-car:hover{
    color:#fff;
    background:#ff6600 url(../img/bgicon.png) no-repeat 0px -44px;
}
.shopping-box .order:hover{
    color:#fff;
    background:#ff6600;
}
/* 返回顶部 */
.toTop{
    height: 50px;
    width: 30px;
    position: fixed;
    bottom: 50px;
    right:40px;
    display: none;
}
/* 猜你喜欢 */
#like{
    margin-top: 52px;
}
#like .modp{
    padding: 5px 8px;
}
/* 字体加粗 */
.fbold{
    font-weight: bold;
}